<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;500;600&family=PT+Sans+Caption:wght@400;700&family=Roboto:wght@300;400;500;700&family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="/" >Home</a>
            <h2 class="line">|</h2>
            <a href="/projects" id="projprojects">Projects</a>
            <h2 class="line">|</h2>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main id=projbody>
        <h1 id="myProjectsHeader">My Projects</h1>
        <div id="ProjectBoxes">
            <div class="projrow">
                <img src="~/images/Project1Img.png" alt="Project 1" class="projimg">
                <div class="pheaderandparagraph">
                <h3>Project 1</h3>
                <p>
                    This is not my work. instead of solution ideas! , so we need a recap by eod, cob or whatever comes first. Make sure to include in your wheelhouse. I need to go lunch and then go to another meeting.
                </p>
                </div>
            </div>
            <div class="projrow">
                <img src="~/images/Project2Img.png" alt="Project 2" class="projimg">
                <div class="pheaderandparagraph">
                <h3>Project 2</h3>
                <p>
                    This is not my work either.nobody is looking quick do your web search manager caught you and you are fured, or window-licker, yet product management breakout fastworks, for please use "solutionise".
                </p>
                </div>
            </div>
            <div class="projrow">
                <img src="~/images/Project3Img.png" alt="Project 3" class="projimg" id="proj3img">
                <div class="pheaderandparagraph">
                <h3>Project 3</h3>
                <p>
                    Whose work is this? Not mine. Into the weeds this medium needs to be more dynamic start procrastinating 2 hours get to do work while procrastinating open book pretend to read while manager stands and watches silently
                </p>
                </div>
            </div>
            <div class="projrow">
                <img src="~/images/Project4Img.png" alt="Project 4" class="projimg" id="proj4img">
                <div class="pheaderandparagraph">
                <h3>Project 4</h3>
                <p>
                    Just want to make it clear, I didn't build the site shown the the left. get all your ducks in a row. Call in the air support sacred cow my supervisor didn't like the latest revision you gave me can you switch back to the first revision?
                </p>
                </div>
            </div>
            <div class="projrow">
                <img src="~/images/Project5Img.png" alt="Project 5" class="projimg" id="proj5img">
                <div class="pheaderandparagraph">
                <h3>Project 5</h3>
                <p>
                    Didn't build this either! nor sabers. Cloud native container based we've got to manage that low hanging fruit big data, yet do i have consent to record this meeting when does this sunset?
                </p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>