body {
    width: 970px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
#header {
    text-align: center;
}
.times {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 2px 10px;
    align-items: center;
    width: 500px;
    margin: auto;
}

.dateline {
    margin-top: -20px;
}
.timeline {
    margin-top: -15px;    
}