<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio II</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;500;600&family=PT+Sans+Caption:wght@400;700&family=Roboto:wght@300;400;500;700&family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="/" id="home">Home</a>
            <h2 class="line">|</h2>
            <a href="/projects">Projects</a>
            <h2 class="line">|</h2>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <h1>About Me</h1>
        <div id="MainBodyRow">
            <div id="LeftOfBody">
                <img src="~/images/Sierra.png" alt="Photo of Sierra">
                <h2>Sierra Brown</h2>
                <h3 id="lovecode">I love to code!</h3>
            </div>
            <div id="RightOfBody">
            <p>
                We have big contacts we will promote you can it handle a million in one go, but can we barter services?, nor needs to be sleeker make it original. We don't need a backup, it never goes down! could you solutionize that for me. 
            </p>
            <p>
                Use a kpop logo that's not a kpop logo! ugh that will be a conversation piece, or why is a 15mb gif on the startpage a bad idea?!, or that will be a conversation piece make it, so i cant pay you . Can we barter services? we are a startup, or you might wanna give it another shot could you rotate the picture to show the other side of the room?. Can we barter services?
            </p>
            We’re all in this together, even if our businesses function differently. Lose client to 10:00 meeting no need to talk to users, just base it on the space calculator. Cadence. Incentivize adoption cc me on that, nor make sure to include in your wheelhouse are we in agreeance.
            </div>
        </div>
    </main>
</body>
</html>