@model User

<div class="column">
    <h2 class="formtitle">Register</h2>
    <form action="/register" method="post">
        <section class="form-row">
            <label asp-for="FirstName">First Name</label>
            <input type="text" name="FirstName">
            <span asp-validation-for="FirstName"></span>
        </section>
        <section class="form-row">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName">
            <span asp-validation-for="LastName"></span>
        </section>
        <section class="form-row">
            <label for="Email">Email</label>
            <input asp-for="Email">
            <span asp-validation-for="Email"></span>
        </section>        
        <section class="form-row">
            <label asp-for="Password">Password</label>
            <input asp-for="Password">
            <span asp-validation-for="Password"></span>
        </section>
        <section class="form-row">
            <label asp-for="PasswordConfirm">PW Confirm</label>
            <input type="Password" name="PasswordConfirm">
            <span asp-validation-for="PasswordConfirm"></span>
        </section>
        <button>Register</button>
    </form>
</div>