<div class="d-flex" id="navbar">
    <div class="d-flex" id="leftofnavbar">
        <h2 id="NavArt">
            <a id="artheaderanchor" href="/dashboard">Artstagram</a>
        </h2>
        <h5><a href="/addpost">Add a Post</a></h5>
    </div>
    <h5><a href="/logout">Logout</a></h5>
</div>
<hr>