@{
    ViewData["Title"] = "Make a Post";
}
@model Post

@await Html.PartialAsync("_Navbar")
<h1 class="postheader">Make a Post</h1>
<form action="/post/createPost" method= "post" class="addpostform">
    <section class="addpostformsection">
        <label asp-for="Img">Image (URL format please)</label>
        <input  type="text" name="Img" asp-for="Img">
        <span asp-validation-for="Img"></span>
    </section>
    <section class="addpostformsection">
        <label asp-for="Title">Title</label>
        <input  type="text" name="Title" asp-for="Title">
        <span asp-validation-for="Title"></span>
    </section>
    <section class="addpostformsection">
        <label asp-for="Medium">Medium</label>
        <input type="text" name="Medium" asp-for="Medium">
        <span asp-validation-for="Medium"></span>
    </section>
    <section>
        <input asp-for="ForSale" type="checkbox">
        <label asp-for="ForSale">For Sale?</label>
    </section>
        <button class="addpostbutton">Post</button>
</form>