<nav id="Navbar">
    <a href="/chef" class="navlink">Chefs</a>
    <p>|</p>
    <a href="/dishes" class="navlink">Dishes</a>
    <p>|</p>
    <a href="/addchef" class="navlink">Add a Chef</a>
    <p>|</p>
    <a href="/adddish" class="navlink">Add a Dish</a>
</nav>
