@model User
<div class="d-flex flex-row" >
    <h1>Welcome @Model.FirstName</h1>
    <div>
        <h2>
            <a href="/weddings">Home</a>
        </h2>
        <h2>|</h2>
        <h2>
            <a href="/newwedding">Plan a Wedding</a>
        </h2>
        <h2>|</h2>
        <h2>
            <a href="/logout">Logout</a>
        </h2>
    </div>
</div>